name: Frontend CI
on:
  push:
    branches: [main]
    paths: ['frontend/**']  
  pull_request:
    paths: ['frontend/**']

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend  

    steps:
    - uses: actions/checkout@v4
    - uses: oven-sh/setup-bun@v2
      with:
        bun-version: latest

    - name: Install
      run: bun install

    - name: Check formatting
      run: bun run check

    - name: Lint
      run: bun run lint

    - name: Test
      run: bun run test --coverage

    - name: Build
      run: bun run build
